header{
}

#over-header{
	position: absolute;
	height: 100%;
	width: 100%;
}

#left-decoration {
    left: 2vw;
    background-image: url("../../images/index/index_top_left.png");
    background-position: top left;
    background-size: 100% auto;
    width: 675px;
    height: 245px;
	z-index: 99999;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100% auto;
    top: 100px;
}

#right-decoration {
    right: 2vw;
    background-image: url("../../images/index/index_top_right.png");
    background-position: top right;
    background-size: 100% auto;
    width: 675px;
    height: 245px;
	z-index: 99999;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100% auto;
    top: 100px;
}

#img-logo{
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 150px;
    z-index: 9999999;
}

h1{
	margin-top:30px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	z-index: 9999999;
	position: relative;
}

.full-width{
	width: 100%;
	position: relative;
	float:left;
	z-index: 9999999;
    margin-top: 35px;
}

.btn-compre{
    left: 50%;
    margin-left: -210px;
    text-align: center;
    position: relative;
    width: 420px!important;
    display: block;
    background-color: #e43c25;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    padding:10px;
    font-size: 16pt;
    font-weight: bold;
}

#sobre{
    top: 0;
    left: 0;
    width: 100%;
    padding: 0!important;
    background-image: url("../../images/index/index_sobre.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sobre h2{
	color: #fff;
	text-transform: uppercase;
	text-align: left;
	margin-top: 60px;
	margin-bottom: 10px;
}

.box-title{
	position: relative;
	float: left;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 40px;
}

#sobre h3{
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 30px;
    line-height: 37px;
    font-size: 20pt;
    width: 185px;
    position: relative;
    float: left;
    margin: 0;
}

#sobre p{
	color: #fff;
	text-align: left;
	font-size: 13pt;
}

#sobre ul{
	margin:0;
	padding: 0;
	clear: both;
}

#sobre ul li{
    list-style: none;
    line-height: 85px;
    color: #fff;
    font-size: 15pt;
    text-transform: uppercase;
    text-align: left;
    padding-left: 100px;
    font-weight: bold;
}

.tag{
    text-align: center;
    position: relative;
    background-color: #e43c25;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    font-size: 9pt;
    font-weight: bold;
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 3px;
}

.index-bar{
    background-image: url("../../images/index/index_bvalley_bar.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

.index-food-court{
    background-image: url("../../images/index/index_food_court.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

.index-cavalo-valley{
    background-image: url("../../images/index/index_cavalo_valley.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

.index-roda-gigante{
    background-image: url("../../images/index/index_roda_gigante.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

#board{
    background-image: url("../../images/index/index_board.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    height: 508px;
    width: 718px;
    padding: 85px;
    padding-left: 110px;
    padding-right: 110px;
    margin-top: 115px;
}

.board-mobile{
    padding: 30px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

.board-mobile h2{
    text-align: center!important;
    margin-bottom: 10px!important;
    font-size: 22pt!important;
    margin-top: 5px!important;
    margin-bottom: 15px!important;
}

.board-mobile h3{
    font-size: 17pt!important;
    position: relative!important;
    margin: 0!important;
    float:none!important;
    width: 100%!important;
    text-align: center!important;
}

.board-mobile .btn-comprar-table {
    margin-top: 25px!important;
    margin-bottom: 20px!important;
}

.board-mobile .row-price{
    margin-top: 5px!important;
    margin-bottom: 5px!important;
    padding-bottom: 5px!important;
}

.board-mobile .row-table-price{
    padding-bottom: 10px;
}

.board-mobile h5{
    color: #fff;
    text-align: center!important;
    font-size: 16pt;
    margin-bottom: 2px;
    font-weight: bold;
}

.board-mobile h6{
    color: #fff;
    text-align: center!important;
    font-size: 12pt;
    margin-bottom: 4px!important;
    margin-top: 4px!important;
}

#artistas{
    top: 0;
    left: 0;
    width: 100%;
    padding: 0!important;
    background-image: url("../../images/index/index_artistas.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#artistas h2{
	color: #fff;
	text-transform: uppercase;
	text-align: left;
	margin-top: 60px;
	margin-bottom: 10px;
    width: 185px;
    position: relative;
    float: left;
    margin: 0;
    line-height: 52px;
}

.tab{
    text-align: center;
    position: relative;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    font-size: 11pt;
    display: block;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 13px;
    margin-top: 3px;
    font-family: 'co_headlineregular';
    letter-spacing: 1px;
}

.actived{
    background-color: #e43c25!important;
}

.tab-start{
	background-color: #969696;
    border-radius: 5px 0 0 5px;
}

.tab-end{
	background-color: #969696;
    border-radius: 0 5px 5px 0;
}

.tab-border{
    border-left:1px solid #cbcbcb;
}

.row-artists{
	margin-bottom: 30px;
}

.row-artists img{
	margin: 0 auto;
    margin-bottom:10px;
}

.row-exp{
    margin-bottom: 40px;
}

.row-table-price{
    border-top:1px solid #fff;
}

.board-home h2{
    margin: 0px!important;
    padding: 0px!important;
    text-align: center!important;
    margin-bottom: 4px;
}

.board-home h3{
    font-size: 13pt!important;
}

.actived-lote{
    color:#fff!important;
}

.desactived-lote{
    color:#7b787a!important;
}

.board-home h4{
    font-size: 12pt!important;
    color:#fff!important;
    font-weight: bold;
}

.board-home h5{
    font-size: 12pt!important;
    color:#fff!important;
    font-weight: bold;
    text-transform: uppercase;
}

.board-home p{
    font-size: 11pt!important;
    margin-top: 19px;
}

.btn-comprar-table {
    text-align: center;
    position: relative;
    display: block;
    background-color: #e43c25;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    font-size: 14pt;
    font-weight: bold;
    margin-top: 17px;
}

#carousel-mobile{
    display: none;
}

/* Responsive */

@media screen and (max-width: 1200px) and (max-height: 800px){
    #img-logo{
        margin-top: 100px!important;
        max-height: 400px!important;
    }
    #sobre ul li{
        font-size: 12pt!important;
    }
}

@media screen and (min-width: 600px){
    #carousel-mobile{
        display: none!important;
    }
}

@media screen and (max-width: 600px){
    #carousel-mobile{
        display: block!important;
    }
    #carousel{
        display: none!important;
    }
    #over-header h1{
        font-size: 20pt!important;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .btn-compre {
        font-size: 14pt!important;
    }
    .owl-pagination{
        bottom:50px!important;
    }
    #img-logo{
        margin-top: 80px!important;
        max-height: 320px!important;
    }
}

@media screen and (max-height: 700px) and (min-width: 1020px){
    .owl-pagination{
        bottom:-2px!important;
    }
}

@media screen and (max-height: 575px) and (max-width: 350px){
    .owl-pagination{
        bottom:31px!important;
    }
}

@media screen and (max-height: 500px) and (max-width: 350px){
    .owl-pagination{
        display: none!important;
    }
}

@media screen and (max-width: 1475px){
    #left-decoration, #right-decoration{
        display: none;
    }
}

@media screen and (max-width: 480px){
    .btn-compre{
        left: 50%;
        margin-left: -130px;
        text-align: center;
        position: relative;
        width: 260px!important;
        display: block;
        background-color: #e43c25;
        border-radius: 5px;
        text-transform: uppercase;
        color: #fff;
        padding:10px;
        font-size: 13pt;
        font-weight: bold;
    }
}

@media screen and (max-height: 760px){
    #img-logo{
        margin-top: 80px!important;
        max-height: 320px!important;
    }
}

@media screen and (max-height: 930px){
    #img-logo{
        margin-top: 100px!important;
        max-height: 400px!important;
    }
}

@media screen and (max-width: 1366px) and (max-height: 768px){
    #img-logo{
        margin-top: 80px!important;
        max-height: 320px!important;
    }
    .full-width{
       margin-top: 10px; 
    }
}

@media screen and (max-width: 630px){
    #artistas h2{
        width:100%!important;
    }
    .tab{
        width:50%!important;
    }
}

@media screen and (max-height: 630px){
    #img-logo{
        margin-top: 18px!important;
    }
}

@media screen and (max-width: 1199px){
    .row-artists {
        margin-bottom:0px!important;
    }
}
