#internal h2{
    text-transform: uppercase;
    text-align: center;
    margin-top: 155px;
    margin-bottom: 100px;
    z-index: 10;
    font-family: 'grota_sans_alt_rdbold';
    color: #00398b;
    font-size: 49pt;
}

#internal .logo-internal{
    background-image: url('../../../images/internal/logo-interna.png');
    width: 313px;
    height: 247px;
    position: absolute;
    top: 22px;
    margin-left: 10%;
    z-index: 99999;
}

#internal .bg-blue{
    background-color: #00398c;
    margin-top: -150px;
    padding: 15px 100px;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    padding-top: 110px;

}

#internal .bg-blue-inclination{
    position: absolute;
    margin-left: 10%;
    width: 80%;
    margin-top: -249px;
    z-index:-1;
}

#internal.ganhadores-resultado .bg-blue-inclination{
    position: absolute;
    margin-left: 10%;
    width: 80%;
    margin-top: -249px;
    z-index:-1;
}

#internal .bg-blue-inclination #path{
    fill: #00398c;
}

#internal .bg-transparent{
    background-color: transparent;
    margin-top: -150px;
    padding: 40px;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    padding-top: 110px;
}

#internal footer p {
    text-align: center!important;
    font-size: 10pt!important;
    color: #fff!important;
    line-height: 12pt!important;
    font-family: 'grota_sans_alt_rdbook'!important;
}

/* Faq */

#internal.faq h2:before{
    content: url('../../../images/internal/title-faq.png');
    width: 403px;
    height: 380px;
    position: absolute;
    top: -5px;
    margin-left: -200px;
    left: 50%;
}

#internal.faq .pergunta{
    font-family: 'grota_sans_alt_rdbold';
    font-size: 14pt;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#internal.faq .resposta{
    font-family: 'grota_sans_alt_rdbook';
    font-size: 12pt;
    margin-bottom: 20px;
    padding-bottom: 0px;
}

/* Regulamento */

#internal.regulamento h2:before{
    content: url('../../../images/internal/title-regulamento.png');
    width: 569px;
    height: 373px;
    position: absolute;
    top: 0px;
    margin-left: -297px;
    left: 50%;
}

#internal.regulamento p.title{
    font-family: 'grota_sans_alt_rdbold';
    font-size: 14pt;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#internal.regulamento p.margin-bottom{
    margin-bottom: 20px;
}

#internal.regulamento p.margin-top{
    margin-top: 20px;
}

#internal.regulamento p{
    font-family: 'grota_sans_alt_rdbook';
    font-size: 12pt;
    padding-bottom: 0px;
    line-height: 17pt;
    margin-bottom: 0px;
}

/* Marcas Participantes */

#internal.marcas-participantes h2{
    margin-top: 159px;
}

#internal.marcas-participantes h2:before{
    content: url('../../../images/internal/title-marcas-participantes.png');
    width: 559px;
    height: 441px;
    position: absolute;
    top: 0px;
    margin-left: -280px;
    left: 50%;
}

#internal.marcas-participantes .marca{
    position: relative;
    float: left;
    text-indent: -9999px;
    display: block;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    margin-top: 8px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 255px;
    margin-bottom: 40px;
    background-position: top center;
    background-repeat: no-repeat;
}

#internal.marcas-participantes .marca-01{
    background-image: url('../../../images/marcas-participantes/marca-01.png');
}

#internal.marcas-participantes .marca-02{
    background-image: url('../../../images/marcas-participantes/marca-02.png');
}

#internal.marcas-participantes .marca-03{
    background-image: url('../../../images/marcas-participantes/marca-03.png');
}

#internal.marcas-participantes .marca-04{
    background-image: url('../../../images/marcas-participantes/marca-04.png');
}

#internal.marcas-participantes .marca-05{
    background-image: url('../../../images/marcas-participantes/marca-05.png');
}

#internal.marcas-participantes .marca-06{
    background-image: url('../../../images/marcas-participantes/marca-06.png');
}

#internal.marcas-participantes .marca-07{
    background-image: url('../../../images/marcas-participantes/marca-07.png');
}

#internal.marcas-participantes .marca-08{
    background-image: url('../../../images/marcas-participantes/marca-08.png');
}

#internal.marcas-participantes .marca-09{
    background-image: url('../../../images/marcas-participantes/marca-09.png');
}

#internal.marcas-participantes .marca-10{
    background-image: url('../../../images/marcas-participantes/marca-10.png');
}

#internal.marcas-participantes .marca-11{
    background-image: url('../../../images/marcas-participantes/marca-11.png');
}


#internal.marcas-participantes .marca:hover{
    background-position: 50% -255px;
}

/* Ganhadores */

#internal.ganhadores .container-ganhadores{
    padding-left: 15%;
    padding-right: 15%;
}

#internal.ganhadores h2{
    margin-top: 158px;
}

#internal.ganhadores h2:before{
    content: url('../../../images/internal/title-ganhadores.png');
    width: 599px;
    height: 369px;
    position: absolute;
    top: 0px;
    margin-left: -325px;
    left: 50%;
}

#internal.ganhadores .img-title-milhares{
    margin-top: 20px;
    margin-bottom: 20px;
}

#internal.ganhadores .img-title-premios{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Ganhadores Resultado */

#internal.ganhadores-resultado .col-ganhador{
    margin-bottom: 80px;
    margin-top: 20px;
}


#internal.ganhadores-resultado .faixa-resultado {
    -webkit-transform: skew(-4deg) rotate(358deg);
    -moz-transform: skew(-4deg) rotate(358deg);
    -o-transform: skew(-4deg) rotate(358deg);
    transform: skew(-4deg) rotate(358deg);
    background-color: #fdd606;
    width: 100%;
    position: relative;
    min-height: 110px;
    margin-top: -105px;
    background-repeat: no-repeat;
    background-position: center center;
}

#internal.ganhadores-resultado .sem-imagem .faixa-resultado{
    margin-top: 86px;
}

#internal.ganhadores-resultado .faixa-resultado h3{
    font-family: 'grota_sans_alt_rdextra_bold';
    color: #00398c;
    margin-top: 15px;
    margin-bottom: 0px;
    float: left;
    width: 100%;
}

#internal.ganhadores-resultado .faixa-resultado .local{
    font-family: 'grota_sans_alt_rdbook';
    color: #00398c;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13pt;
    padding-top: 0px;
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 2px;
}

#internal.ganhadores-resultado .faixa-resultado .frase{
    font-family: 'grota_sans_alt_rdextra_bold';
    color: #00398c;
    margin-top: 3px;
    margin-bottom: 0px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
    font-size: 13pt;
    line-height: 13pt;
}

#internal.ganhadores-resultado .col-ganhador img {
    max-width: 350px;
}
#internal.ganhadores-resultado .faixa-resultado h3 {
    font-size: 16pt;
}
#internal.ganhadores-resultado .faixa-resultado .local,  #internal.ganhadores-resultado .faixa-resultado .frase{
    font-size: 11pt;
}

/* Responsive Adjustements */

@media screen and (max-width: 1780px){
    #internal.ganhadores-resultado .col-ganhador img {
        max-width: 330px;
    }
}

@media screen and (max-width: 1700px){
    #internal.ganhadores-resultado .col-ganhador img {
        max-width: 300px;
    }
}

@media screen and (max-width: 1675px){
    #internal.ganhadores-resultado .col-ganhador img {
        max-width: 280px;
    }
    #internal.ganhadores-resultado .faixa-resultado h3 {
        font-size: 16pt;
    }
    #internal.ganhadores-resultado .faixa-resultado .local,  #internal.ganhadores-resultado .faixa-resultado .frase{
        font-size: 11pt;
    }
}

@media screen and (max-width: 1660px){
    #internal.ganhadores-resultado .faixa-resultado .frase {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12pt;
        line-height: 12pt;
    }
    #internal.ganhadores-resultado .faixa-resultado {
        margin-top: -90px;
    }
    #internal.ganhadores-resultado .col-ganhador img {
        max-width: 260px;
    }
    #internal.ganhadores-resultado .faixa-resultado h3 {
        font-size: 11pt;
    }
    #internal.ganhadores-resultado .faixa-resultado .local,  #internal.ganhadores-resultado .faixa-resultado .frase{
        font-size: 9pt;
    }
}

@media screen and (max-width: 1510px){
    #internal.ganhadores-resultado .faixa-resultado {
        margin-top: -95px;
        min-height: 100px;
    }
    #internal.marcas-participantes .marca-01 {
        background-image: url('../../../images/marcas-participantes/marca-mini-01.png');
    }
    #internal.marcas-participantes .marca-02 {
        background-image: url('../../../images/marcas-participantes/marca-mini-02.png');
    }
    #internal.marcas-participantes .marca-03 {
        background-image: url('../../../images/marcas-participantes/marca-mini-03.png');
    }
    #internal.marcas-participantes .marca-04 {
        background-image: url('../../../images/marcas-participantes/marca-mini-04.png');
    }
    #internal.marcas-participantes .marca-05 {
        background-image: url('../../../images/marcas-participantes/marca-mini-05.png');
    }
    #internal.marcas-participantes .marca-06 {
        background-image: url('../../../images/marcas-participantes/marca-mini-06.png');
    }
    #internal.marcas-participantes .marca-07 {
        background-image: url('../../../images/marcas-participantes/marca-mini-07.png');
    }
    #internal.marcas-participantes .marca-08 {
        background-image: url('../../../images/marcas-participantes/marca-mini-08.png');
    }
    #internal.marcas-participantes .marca-09 {
        background-image: url('../../../images/marcas-participantes/marca-mini-09.png');
    }
    #internal.marcas-participantes .marca-10 {
        background-image: url('../../../images/marcas-participantes/marca-mini-10.png');
    }
    #internal.marcas-participantes .marca-11 {
        background-image: url('../../../images/marcas-participantes/marca-mini-11.png');
    }
    #internal.marcas-participantes .marca {
        height: 146px;
    }
    #internal.marcas-participantes .marca:hover{
        background-position: 50% -146px;
    }
    #internal.ganhadores-resultado .col-ganhador img {
        max-width: 250px;
    }
    #internal.ganhadores-resultado .faixa-resultado h3 {
        font-size: 13pt;
    }
    #internal.ganhadores-resultado .faixa-resultado .local,  #internal.ganhadores-resultado .faixa-resultado .frase{
        font-size: 9pt;
    }
}

@media screen and (max-width: 1460px){
    #internal.ganhadores-resultado .bg-blue-inclination{
        position: absolute;
        margin-left: 5%;
        width: 90%;
        margin-top: -249px;
        z-index:-1;
    }
    #internal.ganhadores-resultado .bg-blue {
        margin-left: 5%;
        margin-right: 5%;
    }
    #internal.ganhadores-resultado .col-ganhador img {
        max-width: 240px;
    }
    #internal.ganhadores-resultado .faixa-resultado h3 {
        font-size: 13pt;
    }
    #internal.ganhadores-resultado .faixa-resultado .local,  #internal.ganhadores-resultado .faixa-resultado .frase{
        font-size: 9pt;
    }
}

@media screen and (max-width: 1360px){
    #internal.ganhadores-resultado .col-ganhador img {
        max-width: 215px;
    }
    #internal.ganhadores-resultado .faixa-resultado h3 {
        font-size: 12pt;
    }
    #internal.ganhadores-resultado .faixa-resultado .local,  #internal.ganhadores-resultado .faixa-resultado .frase{
        font-size: 8pt;
    }
}


@media screen and (max-width: 1280px){
    #internal .bg-blue-inclination, #internal.ganhadores-resultado .bg-blue-inclination{
        margin-top: -235px;
    }
    #internal .bg-blue,  #internal .bg-transparent{
        margin-top: -135px;
    }
    #internal .logo-internal {
        background-image: url('../../../images/internal/logo-interna-med.png');
        width: 203px;
        height: 161px;
        position: absolute;
        top: 15px;
        margin-left: 10%;
        z-index: 99999;
    }
    #internal.ganhadores h2:before {
        content: url('../../../images/internal/title-ganhadores-med.png');
        width: 420px;
        height: 259px;
        position: absolute;
        top: 0px;
        margin-left: -223px;
        left: 50%;
    }
    #internal.marcas-participantes h2:before {
        content: url('../../../images/internal/title-marcas-participantes-med.png');
        width: 392px;
        height: 309px;
        position: absolute;
        top: -3px;
        margin-left: -198px;
        left: 50%;
    }
    #internal.faq h2:before {
        content: url('../../../images/internal/title-faq-med.png');
        width: 283px;
        height: 266px;
        position: absolute;
        top: -4px;
        margin-left: -146px;
        left: 50%;
    }
    #internal.regulamento h2:before {
        content: url('../../../images/internal/title-regulamento-med.png');
        width: 399px;
        height: 261px;
        position: absolute;
        top: -4px;
        margin-left: -210px;
        left: 50%;
    }
    #internal.ganhadores h2, #internal.marcas-participantes h2, #internal.faq h2, #internal.regulamento h2 {
        margin-top: 74px;
    }
    #internal h2 {
        font-size: 37pt;
    }
}

@media screen and (max-width: 1199px){
    #internal.ganhadores-resultado .col-ganhador img {
        max-width: 340px;
    }
    #internal.ganhadores-resultado .faixa-resultado h3 {
        font-size: 15pt;
    }
    #internal.ganhadores-resultado .faixa-resultado .local,  #internal.ganhadores-resultado .faixa-resultado .frase{
        font-size: 11pt;
    }
}

@media screen and (max-width: 1110px){
    #internal.ganhadores-resultado .col-ganhador img {
        max-width: 320px;
    }
    #internal.ganhadores-resultado .faixa-resultado h3 {
        font-size: 14pt;
    }
    #internal.ganhadores-resultado .faixa-resultado .local,  #internal.ganhadores-resultado .faixa-resultado .frase{
        font-size: 10pt;
    }
}

@media screen and (max-width: 1050px){
    #internal.ganhadores-resultado .col-ganhador img {
        max-width: 280px;
    }
}

@media screen and (max-width: 991px){
    #internal.ganhadores-resultado .faixa-resultado {
        margin-top: -95px;
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }
    #internal.ganhadores-resultado .col-ganhador img {
        max-width: 70%;
    }
    #internal.ganhadores-resultado .faixa-resultado .frase {
        padding-left: 20%;
        padding-right: 20%;
        font-size: 13pt;
        line-height: 13pt;
    }
    #internal .logo-internal{
        display: none;
    }
    #internal.ganhadores h2, #internal.marcas-participantes h2,  #internal.faq h2, #internal.regulamento h2{
        margin-top: 181px;
    }
    #internal.ganhadores-resultado .col-ganhador {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #internal.marcas-participantes .marca-01 {
        background-image: url('../../../images/marcas-participantes/marca-01.png');
    }
    #internal.marcas-participantes .marca-02 {
        background-image: url('../../../images/marcas-participantes/marca-02.png');
    }
    #internal.marcas-participantes .marca-03 {
        background-image: url('../../../images/marcas-participantes/marca-03.png');
    }
    #internal.marcas-participantes .marca-04 {
        background-image: url('../../../images/marcas-participantes/marca-04.png');
    }
    #internal.marcas-participantes .marca-05 {
        background-image: url('../../../images/marcas-participantes/marca-05.png');
    }
    #internal.marcas-participantes .marca-06 {
        background-image: url('../../../images/marcas-participantes/marca-06.png');
    }
    #internal.marcas-participantes .marca-07 {
        background-image: url('../../../images/marcas-participantes/marca-07.png');
    }
    #internal.marcas-participantes .marca-08 {
        background-image: url('../../../images/marcas-participantes/marca-08.png');
    }
    #internal.marcas-participantes .marca-09 {
        background-image: url('../../../images/marcas-participantes/marca-09.png');
    }
    #internal.marcas-participantes .marca-10 {
        background-image: url('../../../images/marcas-participantes/marca-10.png');
    }
    #internal.marcas-participantes .marca-11 {
        background-image: url('../../../images/marcas-participantes/marca-11.png');
    }
    #internal.marcas-participantes .marca {
        height: 255px;
    }
    #internal.marcas-participantes .marca:hover{
        background-position: 50% -255px;
    }
}

@media screen and (max-width: 900px){
    #internal.ganhadores-resultado .faixa-resultado {
        margin-top: -95px;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}

@media screen and (max-width: 820px){
    #internal.ganhadores-resultado .faixa-resultado .frase {
        padding-left: 15%;
        padding-right: 15%;
        font-size: 12pt;
        line-height: 12pt;
    }
}

@media screen and (max-width: 768px){
    #internal footer p {
        text-align: center!important;
        font-size: 7pt!important;
        color: #fff!important;
        line-height: 10pt!important;
        font-family: 'grota_sans_alt_rdbook'!important;
    }
    #internal .bg-blue-inclination{
        position: absolute;
        margin-left: 10px;
        width: calc(100% - 20px);
        margin-top: -220px;
        z-index: -1;
    }
    #internal.ganhadores-resultado .bg-blue-inclination{
        position: absolute;
        margin-left: 5%;
        width: 90%;
        margin-top: -220px;
        z-index: -1;
    }
    #internal .bg-blue, #internal .bg-transparent {
        margin-top: -120px;
    }
    #internal .bg-blue,  #internal .bg-transparent{
        margin-left: 10px;
        margin-right: 10px;
        padding: 15px;
        padding-left: 10%;
        padding-right: 10%;
    }
    #internal .bg-blue, #internal .bg-transparent{
        padding-top: 100px;
    }
    #internal .img-mondelez{
        max-width: 200px;
    }
}

@media screen and (max-width: 680px){
    #internal.ganhadores-resultado .faixa-resultado .frase {
        padding-left: 10%;
        padding-right: 10%;
        font-size: 12pt;
        line-height: 12pt;
    }
}

@media screen and (max-width: 620px){
    #internal.ganhadores-resultado .faixa-resultado {
        margin-top: -75px;
        min-height: 80px;
    }
    #internal.ganhadores-resultado .faixa-resultado .frase {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 9pt;
        line-height: 11pt;
        margin-top: 5px;
    }
}

@media screen and (max-width: 600px){
    #internal .bg-blue, #internal .bg-transparent {
        margin-top: -152px;
    }
    #internal .bg-blue-inclination {
        position: absolute;
        margin-left: 10px;
        width: calc(100% - 20px);
        margin-top: -252px;
        z-index: -1;
    }
    #internal.ganhadores h2, #internal.marcas-participantes h2, #internal.faq h2, #internal.regulamento h2 {
        margin-top: 132px;
        margin-bottom: 132px;
    }
    #internal h2 {
        font-size: 26pt;
    }
    #internal.marcas-participantes h2:before {
        content: url('../../../images/internal/title-marcas-participantes-mini.png');
        width: 280px;
        height: 221px;
        position: absolute;
        top: 0px;
        margin-left: -140px;
        left: 50%;
    }
    #internal.ganhadores h2:before {
        content: url('../../../images/internal/title-ganhadores-mini.png');
        width: 300px;
        height: 180px;
        position: absolute;
        top: 0px;
        margin-left: -162px;
        left: 50%;
    }
    #internal.faq h2:before {
        content: url('../../../images/internal/title-faq-mini.png');
        width: 202px;
        height: 190px;
        position: absolute;
        top: 0px;
        margin-left: -100px;
        left:50%;
    }
    #internal.regulamento h2:before {
        content: url('../../../images/internal/title-regulamento-mini.png');
        width: 285px;
        height: 187px;
        position: absolute;
        top: 0px;
        margin-left: -143px;
        left: 50%;
    }
    #internal .bg-blue, #internal .bg-transparent {
        padding-top: 50px;
    }
    #internal.faq .pergunta,  #internal.regulamento p.title {
        font-size: 12pt;
    }
    #internal.faq .resposta, #internal.regulamento p {
        font-size: 10pt;
    }
    #internal .bg-blue .container-fluid{
        padding:0px;
    }
    #internal .bg-transparent .container-fluid{
        padding:0px;
    }
    #internal .bg-transparent .col-marca{
        padding:0px;
    }
    #internal.marcas-participantes .marca {
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    body {
        background-size: inherit;
    }
}
@media screen and (max-width: 500px){
    #internal .bg-blue, #internal .bg-transparent {
        padding-left: 15px;
        padding-right: 15px;
    }
    #internal.marcas-participantes .marca-01 {
        background-image: url('../../../images/marcas-participantes/marca-mini-01.png');
    }
    #internal.marcas-participantes .marca-02 {
        background-image: url('../../../images/marcas-participantes/marca-mini-02.png');
    }
    #internal.marcas-participantes .marca-03 {
        background-image: url('../../../images/marcas-participantes/marca-mini-03.png');
    }
    #internal.marcas-participantes .marca-04 {
        background-image: url('../../../images/marcas-participantes/marca-mini-04.png');
    }
    #internal.marcas-participantes .marca-05 {
        background-image: url('../../../images/marcas-participantes/marca-mini-05.png');
    }
    #internal.marcas-participantes .marca-06 {
        background-image: url('../../../images/marcas-participantes/marca-mini-06.png');
    }
    #internal.marcas-participantes .marca-07 {
        background-image: url('../../../images/marcas-participantes/marca-mini-07.png');
    }
    #internal.marcas-participantes .marca-08 {
        background-image: url('../../../images/marcas-participantes/marca-mini-08.png');
    }
    #internal.marcas-participantes .marca-09 {
        background-image: url('../../../images/marcas-participantes/marca-mini-09.png');
    }
    #internal.marcas-participantes .marca-10 {
        background-image: url('../../../images/marcas-participantes/marca-mini-10.png');
    }
    #internal.marcas-participantes .marca-11 {
        background-image: url('../../../images/marcas-participantes/marca-mini-11.png');
    }
    #internal.marcas-participantes .marca {
        height: 146px;
    }
    #internal.marcas-participantes .marca:hover{
        background-position: 50% -146px;
    }
    footer .img-mondelez {
        max-height: 50px;
    }
}

@media screen and (max-width: 420px){
    #internal.ganhadores-resultado .faixa-resultado h3 {
        font-size: 10pt;
    }
    #internal.ganhadores-resultado .faixa-resultado .local,  #internal.ganhadores-resultado .faixa-resultado .frase{
        font-size: 8pt;
    }
}

@media screen and (max-width: 360px){
    #internal.ganhadores-resultado .faixa-resultado h3 {
        font-size: 8pt;
    }
    #internal.ganhadores-resultado .faixa-resultado .local,  #internal.ganhadores-resultado .faixa-resultado .frase{
        font-size: 7pt;
    }
}
