.animateBtnDown{
	animation-name: animBtnDown;
	-webkit-animation-name: animBtnDown;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes animBtnDown {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(30%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes animBtnDown {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(100%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}