.bg-pink{
    background-color: #ec008c;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0!important;
    opacity: 0.9;
    display: none;
}

.box-relative{
    float:left;
    position: relative;
    width: 100%;
    height: 50px;
}

.btn-close{
    background: url("../../images/shared/close_light.png") center 0;
    height: 45px;
    width: 45px;
    left: 100%;
    margin-left: -180px;
    cursor: pointer;
    z-index: 9999999;
    position: absolute;
    display: none;
}

@media screen and (max-width: 991px){
    .btn-close{
        margin-left: -60px;
    }
}

.content-popup{
    margin-top: 220px;
    color: #949494!important;
}

#email h2{
    font-family: 'bebas_neuebold';
    font-size: 34pt;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10pt;
    margin-bottom: 50px;
}

input[type="text"]{
    font-family: 'brandon_light';
    width: 100%;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 0px;
    padding: 5px;
    padding-bottom: 15px;
    text-align: center;
    letter-spacing: 3pt;
    font-size: 18pt;
    line-height: 40px;
    background: transparent;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color:#fff;
}

.btn-send{
    font-family: 'brandon_bold';
    width: 100%;
    border: 2px solid #fff;
    min-height: 53px;
    padding: 5px;
    padding-top: 14px;
    padding-bottom: 13px;
    margin-top: 50px;
    text-align: center;
    color: #fff;
    letter-spacing: 3pt;
    font-size: 10pt;
    background-color: transparent;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.btn-send:hover {
    background-color: transparent;
    color: #FFF;
}

@media screen and (max-width: 375px){
    .btn-send{
        font-size: 10pt;
    }
}

/* Place Holder */

input[type="text"]::-webkit-input-placeholder{
   color: #fff;
}

input[type="text"]::-moz-placeholder{
   color: #fff;
}

input[type="text"]::-moz-placeholder{
   color: #fff;
}

input[type="text"]:-ms-input-placeholder{
   color: #fff;
}

@media screen and (max-width: 640px){
    .content-popup {
        margin-top: 85px;
        color: #949494!important;
    }
}

@media screen and (max-width: 320px){
    .content-popup {
        margin-top: 65px;
        color: #949494!important;
    }
    #email h2 {
        font-family: 'bebas_neuebold';
        font-size: 26pt;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 6pt;
        margin-bottom: 10px;
        margin-top: 65px;
    }
    input[type="text"] {
        font-size: 14pt;
    }
}