@media print{
    nav{
        display:none;
    }
    header#page-header {
        padding-top: 10px;
    }
    .row-header {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    header#page-header h1 {
        padding-left: 0px;
    }

    header#page-header h2 {
        letter-spacing: 1pt;
    }
    header#page-header h3 {
        letter-spacing: 1pt;
    }
    .row-footer{
        display: none;
    }
    .box-options-inside{
        display: none;
    }
    .comprar{
        display: none;
    }
    .col-right{
        width: 100%;
        text-align: left;
        padding: 0px;
    }
    .col-left{
        width: 100%;
        text-align: left;
        padding: 0px;
    }
    .bullets-1:after {
        content: '';
    }
    .bullets-2:before {
        content: '';
    }
    .margin-left{
        margin:0px;
    }
    .margin-right{
        margin:0px;
    }
    .half-box{
        display: none;
    }
    ul li{
        list-style: disc!important;
    }
    .col-margin{
        margin:0px;
    }
}