@font-face {
  font-family: 'VWHeadlineOT-Black';
  src:
  url('../../../fonts/VWHeadlineOT-Black.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/VWHeadlineOT-Black.woff') format('woff'),
  url('../../../fonts/VWHeadlineOT-Black.ttf')  format('truetype'),
  url('../../../fonts/VWHeadlineOT-Black.svg#VWHeadlineOT-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'VWHeadlineOT-Semibold';
  src:
  url('../../../fonts/VWHeadlineOT-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/VWHeadlineOT-Semibold.woff') format('woff'),
  url('../../../fonts/VWHeadlineOT-Semibold.ttf') format('truetype'),
  url('../../../fonts/VWHeadlineOT-Semibold.svg#VWHeadlineOT-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'VWHeadlineOT-Book';
  src:
  url('../../../fonts/VWHeadlineOT-Book.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/VWHeadlineOT-Book.woff') format('woff'),
  url('../../../fonts/VWHeadlineOT-Book.ttf')  format('truetype'),
  url('../../../fonts/VWHeadlineOT-Book.svg#VWHeadlineOT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
